<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	
		<h1>W E C O ME</h1>
<div>
<div><a href="@{/searchWithKeyword}">search with</a></div>
	
</div>
	
	

	
	<div>

    <h1>Search Employee</h1>
    <br />
     <div>
     
	<form action="#" th:action="@{/searchWithID}" th:object="${employee}" method="post">
        <div>
            <tr>
                <label >Employee ID</label>
                <td>
                    <input type="text" th:field="*{id}" placeholder="Employee ID" />
                </td>
            </tr>
        </div>   

            <br>
            <tr>
            <td><button type="submit">Search</button> </td>
            </tr>
            
            
            <div>
            <tr>
                <label >Employee Name</label>
                <td>   
                    <input type="text" th:field="${employee.ename}" placeholder="Employee Name" />
                    <br><br>
                                    <label >Employee Mobile Number</label>

                    <input type="text" th:field="${employee.mobile}" placeholder="Employee Mobile Number" />
                    <br><br>
                  
                                  <label>Employee Salary</label>

                    <input type="text" th:field="${employee.salary}" placeholder="Employee Salary" />

                </td>
            </tr>
         </div>   
    </form>
</div>

</body>
</html>